@media screen and (max-width: 1200px) {
  body {
    width: 90%;
  }
  body .inicio {
    flex-direction: column;
    padding: 2em;
    gap: 8em;
  }
  body .inicio .description {
    width: 90%;
  }
  body .contacto_index {
    width: 70%;
  }
  body .yo_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
  }
  body .yo_section .img_yo {
    width: 80%;
    flex-direction: column;
    align-items: start;
  }
  body .yo_section .img_yo div p {
    text-align: start;
    width: 80%;
  }
  body .yo_section .contacto_yo {
    width: 60%;
    border: none;
    text-align: center;
  }
  body .yo_section .colaboracion {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body .section_david .dia p {
    width: 100%;
  }
  body .index_section {
    padding: 5em 2em;
    width: 100%;
  }
  body .index_section article {
    padding: 3em 2em;
    max-width: 100%;
  }
  body .index_section article h2 {
    line-height: 1em;
  }
  body .index_section article p {
    font-size: 1em;
  }
  body .videoteca_index article {
    padding: 3em 2em;
  }
  body .index_ley_danza {
    width: 100%;
  }
  body .index_ley_danza article {
    padding: 3em 2em;
  }
  body .index_ley_danza p {
    width: 100%;
  }
  body .contacto_index {
    width: 90%;
    flex-direction: column;
    gap: 4em;
  }
  body .aporte_index button {
    transform: translateX(350px);
  }
  body .tarjetas_articles {
    flex-direction: column;
  }
  body .article_section {
    max-width: 100%;
  }
  body .article_section .article_title {
    flex-direction: column;
    align-items: center;
  }
  body .article_section .article_article {
    padding: 1em;
    width: 90%;
  }
  body .article_section .article_article h2 {
    font-size: 1em;
    line-height: 1.5em;
  }
  body .yo_section .colaboracion {
    width: 90%;
  }
  body .yo_section .img_yo img {
    width: 80%;
  }
  body .taller_flex .taller_flex_items {
    height: 500px;
  }
  body .taller_flex .taller_flex_items .taller_flyers {
    height: 70%;
  }
  body .taller_flex .taller_flex_items .taller_descripcion .taller_tittle {
    margin-right: 0;
    text-align: start;
  }
  body .taller_flex .taller_flex_items .taller_descripcion .taller_descripcion_p {
    width: 100%;
  }
  body footer a .logo_footer {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  body .inicio {
    width: 100%;
    padding: 1em;
  }
  body .inicio .description {
    width: 100%;
  }
  body .section_david {
    flex-direction: column;
  }
  body .section_david .dia {
    width: 100%;
  }
  body .section_david .dia h2 {
    width: 100%;
  }
  body .index_section {
    padding: 0;
  }
  body .videoteca_index {
    width: 100%;
    padding: 1em;
  }
  body .videoteca_index article {
    padding: 1em;
  }
  body .videoteca_index article p {
    width: 100%;
  }
  body .videoteca_index article .iframe {
    height: 185px;
    margin: 0 auto;
  }
  body .index_ley_danza {
    padding: 1em;
  }
  body .index_ley_danza article {
    padding: 1em;
  }
  body .index_ley_danza article p {
    width: 100%;
  }
  body .index_laura {
    padding: 0;
  }
  body .index_laura article p {
    width: 100%;
  }
  body .index_laura article h5 {
    width: 50%;
  }
  body .index_laura article .iframe {
    height: 185px;
    margin: 0 auto;
  }
  body .contacto_index {
    width: 100%;
  }
  body .aporte_index {
    width: 100%;
  }
  body .aporte_index p {
    width: 80%;
  }
  body footer {
    height: 100px;
    padding: 0;
    align-items: center;
  }
  body footer .yo {
    flex-direction: column-reverse;
    gap: 0.5em;
  }
  body footer .yo .firma {
    width: 25px;
    height: 25px;
  }
  body footer a .logo_footer {
    width: 40%;
  }
  body footer .contacto {
    gap: 0.5em;
    flex-direction: column;
  }
  body footer .contacto div a img {
    width: 25px;
    height: 25px;
  }
  body .proximamente {
    max-width: 90%;
    padding: 2em;
  }
  body .proximamente img {
    max-width: 130%;
    margin-bottom: 3em;
  }
  body .yo_section {
    padding: 1em;
  }
  body .yo_section .img_yo {
    width: 100%;
    padding: 1em;
  }
  body .yo_section .iconos_skills {
    width: 50%;
    flex-wrap: wrap;
  }
  body .yo_section .iconos_skills div {
    justify-content: space-evenly;
  }
  body .yo_section .colaboracion div p {
    width: 100%;
  }
  body .taller_flex {
    gap: 50px;
    padding: 0;
  }
  body .taller_flex .taller_flex_items {
    flex-direction: column;
    height: 950px;
    padding: 2em;
  }
  body .taller_flex .taller_flex_items .taller_flyers {
    height: 50%;
  }
  body .taller_flex .taller_flex_items .taller_descripcion {
    align-items: start;
  }
  body .taller_flex .taller_flex_items .taller_descripcion_p {
    text-align: start;
  }
  body .taller_flex .taller_flex_items_right {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 468px) {
  html {
    width: 105vw;
  }
  body .index_section article h2 {
    font-size: 2em;
  }
  body .aporte_index button {
    transform: translateX(150px);
  }
}