body {
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #181818, #0e0e0e);
  color: whitesmoke;
}
body .header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  transform: translate(-150px, 50px);
}
body .description {
  width: 50%;
  font-size: 1.5em;
  font-weight: 600;
  transform: translate(100px, 30px);
  color: rgb(176, 176, 176);
}