.body_proximamente{
    height: 100vh;
    overflow-y: hidden;

    .proximamente{
        width: 80%;
        margin: 5em auto;
        padding: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @include border();
        @include border-radius();
        box-shadow: $shadow;
        text-transform: uppercase;
        h2{
            text-align: center;
        }
    }
}
