.body_proximamente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;

    .proximamente{
        margin: 5em auto;
        padding: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @include border();
        @include border-radius();
        box-shadow: $shadow;
        text-transform: uppercase;
        color: rgb(160, 160, 160);
        h2{
            text-align: center;
        }
    }
}
