html{
    max-width: 100%;
}
.body_proximamente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    height: 100vh;
    overflow-y: hidden;

    .proximamente{
        padding: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @include border();
        @include border-radius();
        box-shadow: $shadow;
        text-transform: uppercase;
        color: rgb(140, 140, 140);
        h2{
            text-align: center;
        }
    }
}
