$violet: #5F1B51;
$blue: #5e87b3;
$orange: #c87a4b;
$colorado: #42283f;
$yellow: #c29e28;
$white: #c1c1c1;
$black: #181818;
$black-dark: #0a0a0a;

// sombras
$shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);