$violet: #5F1B51;
$blue: #3E92CC;
$colorado: #42283f;
$violeta-oscuro: #904b5e;
$white: #c1c1c1;
$titles: #88B7B5;
$white_gray: #ccccccc9;
$gray: #f3f3f3c9;
$black: #181818;
$black-dark: #0a0a0a;
$verde_agua: #469d80;



// sombras
$shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);