@mixin footer(){
    height: 80px;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: start;
    justify-items: center;
    padding: 1em;
    color: $violeta-oscuro;
    @include border();
    @include corner_top();
    box-shadow: $shadow;
    .yo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        .firma{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            @include border();
            cursor: pointer;
            // box-shadow: $shadow;
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        .logo_footer{
            width: 20%;
            // height: 40px;
            // border-radius: 50%;
            // @include border();

        }
    }
    .contacto{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        div{
            display: flex;
            gap: .5em;
        }
        a{
            img{
                width: 30px;
                height: 30px;
                // opacity: 1;
                border: none;
            }
        }
    }
}