// Bordes

@mixin border(){
    border: 1px inset $black-dark;
}
@mixin border_radius(){
    border-radius: 15px;
}

@mixin corner_bottom(){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
@mixin corner_right(){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@mixin corner_top(){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@mixin corner_left(){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
// contenedores de sección
@mixin container_section (){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 3em;
    @include corner_bottom();
    border-bottom: 1px inset $black-dark;
    border-right: 1px inset $black-dark;
    box-shadow: $shadow;
}
// container img autores
@mixin container_img_autores(){
    display: flex;
    justify-content: flex-end;
    transform: translateX(-25%);
    margin-bottom: 2em;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        .name_autor{
            transform: translateY(-1.5em);
        }
    }
}

// Img autores
@mixin img_autores (){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: contain;
}

// boton mp
@mixin btn_mp(){
    padding: .3em .7em;
    background-color: #2b89b1;
    border-radius: 10px;
    box-shadow: $shadow;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 3px 1px 3px $black-dark;
    color: $white;
    &:hover{
        background-color: #009ee3;;
    }
}

// botón de ig autores
@mixin ig_autores(){
    display: flex;
    align-items: flex-start;
    justify-content: start;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $violeta-oscuro;
        img{
            width: 80%;
        }
    }
}

@mixin leer(){
    color: $violeta-oscuro;
    text-decoration: none;
    font-size: 1.2em;
}