// Bordes

@mixin border(){
    border: 1px inset $black-dark;
}
@mixin border_radius(){
    border-radius: 15px;
}

@mixin corner_bottom(){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
@mixin corner_right(){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@mixin corner_top(){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@mixin corner_left(){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
// contenedores de sección
@mixin container_section (){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
    padding: 3em;
    @include corner_bottom();
    border-bottom: 1px inset $black-dark;
    border-right: 1px inset $black-dark;
    box-shadow: $shadow;
}
// container img autores
@mixin container_img_autores(){
    display: flex;
    justify-content: end;
    transform: translateX(-25%);
    margin-bottom: 2em;
}

// Img autores
@mixin img_autores (){
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

// boton mp
@mixin btn_mp(){
        padding: .5em 1em;
        background-color: #0277a9;
        border-radius: 10px;
        box-shadow: $shadow;
        font-size: 1em;
        text-decoration: none;
        color: white;
        &:hover{
            background-color: #009ee3;;
        }
}