@mixin solapa(){
    display: block;
    padding: .7em 1em;
    @include corner_top();
    background-image: linear-gradient(to bottom right , #602d21 , #331918);
    box-shadow: $shadow;
    .genero_tittle{
        font-size: 1.1em;
        color: $white;
        margin-right: 0;
    }
}