@mixin solapa(){
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    
    @include corner_top();
    transform: translate(0px, 50px);
    background-image: linear-gradient(to bottom right , #602621 , #200d0c);
    box-shadow: $shadow;
    .genero_tittle{
        font-size: 1.5em;
        color: $white;
        margin-right: 0;
    }
}