// // estilos Darkmode
@mixin btn_switch(){
    background-color: #afafaf;
    border-radius: 1000px;
    border: 1px inset #404040;
    cursor: pointer;
    display: flex;
    outline: none;
    gap: .5em;
    position: relative;
    transition: all 1s ease;
    &::after{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        background: #a1a1a1;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px $black-dark;
    }
    &.active{
        background-color: $black-dark;
        &::after{
            right: 0;
            left: unset;
            transition: all 1s ease;

        }
    }

    span > img{
        width: 25px;
        line-height: 25px;
        display: block;
        background: none;
    }
   
}
// @mixin darkmode(){
//     position: absolute;
//     right: 3%;
//     top: 2.5%;
//     .btn_mode{
//         background-color: transparent;
//         border-radius: 50%;
//         cursor: pointer;
//         background-repeat: no-repeat;
//         background-size: cover;
//         padding: 1.1em;
//         display: flex;
//         justify-content: center;
//     }
//     .btn_light{
//         background-image: url("../public/img/lightmode/sun-white.png");
//         opacity: .5;

//     }
// }
// .btn_dark{
//     background-image: url("../public/img/lightmode/sun-black.png");
// }
// .lightmode{
//     background-image: linear-gradient(to right , $white , $white);
//     color: $black-dark;

//     // .container_darkmode{    
//         //     .btn_darkmode{
//             //         padding: 1em;
//             //         background-repeat: no-repeat;
//             //         opacity: .8;
//             //     }
//             // }
//         }