// // estilos Darkmode
@mixin btn_switch(){
    background-color: #afafaf;
    border-radius: 1000px;
    border: 1px inset #404040;
    cursor: pointer;
    display: flex;
    outline: none;
    gap: .5em;
    position: relative;
    transition: all 1s ease;
    &::after{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        background: #a1a1a1;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px $black-dark;
    }
    &.active{
        background-color: $black-dark;
        &::after{
            right: 0;
            left: unset;
            transition: all 1s ease;
        }
    }
    span > img{
        width: 25px;
        line-height: 25px;
        display: block;
        background: none;
    }
}
