@media screen and (max-width: 1200px){
    body{
        width: 90%;
        .inicio{
            flex-direction: column;
            padding: 2em;
            gap: 8em;
            .description{
                width: 90%;
            }
        }
     
        .contacto_index{
            width: 70%;
        }
    }
}
@media screen and (max-width: 768px){
    body{
        // width: 95%;
        .index_section{
            padding: 5em 2em;
            width: 100%;
                article{
                    padding: 3em 2em;
                    h2{
                        line-height: 1em;
                    }
                    p{
                        font-size: 1em;
                    } 
                }
            }
            .videoteca_index{
                article{
                    padding: 3em 2em;
                }
            }
            .index_ley_danza{
                width: 100%;
                article{
                    padding: 3em 2em;
                }
                p{
                    width: 100%;
                }
            }
                // .autor_articulo{
                //     width: 100%;
                //     padding:3em 2em;
                //     align-items: end;
                //     p{
                //         text-align: start;
                //     }
                // }
        .contacto_index{
            width: 90%;
            flex-direction: column;
            gap: 4em;
        }
        .aporte_index{
            button{
                transform: translateX(350px);

            }
        }
        // page articles
        .tarjetas_articles{
            flex-direction: column;

        }
          // container_articles
          .article_section{
            max-width: 100%;
            .article_title{
                flex-direction: column;
                align-items: center;
            }
            .article_article{
                padding: 1em;
                width: 90%;
                h2{
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }

        }

        // pag talleres
        .taller_flex{
            .taller_flex_items{
                height: 500px;
                .taller_flyers{
                    height: 70% ;
                }
                .taller_descripcion{
                    .taller_tittle{
                        margin-right: 0;
                        text-align: start;
                    }
                    .taller_descripcion_p{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    body{
        .inicio{
            width: 100%;
            padding: 1em;
            .description{
                width: 100%;
                // text-align: center;
            }
        }
        .index_section{
            padding: 0;
        }
        .videoteca_index{
            width: 100% ;
            padding: 1em;
            article{
                padding: 1em;
                p{
                    width: 100%;
                }
                .iframe{
                   height: 185px;
                   margin: 0 auto;   
               }
            }
        }
        
        .index_ley_danza{
            padding: 1em;
            article{
                padding: 1em;
                p{
                    width: 100%;
                }
            }
        }
        .index_laura{
            padding: 0;
            article{
                .iframe{
                    height: 185px;
                    margin: 0 auto;   
                }
            }
        }
       
        .contacto_index{
            width: 100%;
        }
        .aporte_index{
            width: 100%;
            p{
                width: 80%;
            }
        }
        footer{
            height: 100px;
            padding: 0;
            align-items: center;
            .yo{
                flex-direction: column-reverse;
                gap: .5em;
                .firma{
                    width: 25px;
                    height: 25px;
                }
            }
            a{
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            .contacto{
                gap: .5em;
                flex-direction: column;
                div a img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        
        // pages
        // proximamente
        .proximamente{
            max-width: 90%;
            padding: 2em;
            img{
                max-width: 130%;
                margin-bottom: 3em;
            }
        }
      
        
        // taller
        .taller_flex{
            gap: 50px;
            padding: 0;
            .taller_flex_items{
                flex-direction: column;
                height: 950px;
                padding: 2em;
                .taller_flyers{
                    height: 50%;
                }
                .taller_descripcion{
                    align-items: start;
                }
                .taller_descripcion_p{
                    text-align: start;
                }
            }
            .taller_flex_items_right{
                flex-direction: column-reverse;
            }
        }
    }
}
@media screen and (max-width: 468px){
    html{
        width: 105vw;
    }
    body{
        .aporte_index{
            button{
                transform: translateX(150px);
            }
        }
        
    }
}
// @media screen and (max-width: 360px){
    
// }