// colors
@import 'colors';
// fonts
@import 'fonts';
// bordes
@import 'mixins';
// header
@import 'header';
// footer
@import 'footer';
// solapa
@import 'solapa';


// pages- articulos
@import 'articulos/article';
// page- container_article
@import 'articulos/container_articles';
// pages- lucas
@import 'articulos/one_article/lucas';
// pages- cande
@import 'articulos/one_article/cande';
// pages - taller
@import 'taller/taller';
// pages - contacto
@import 'contacto/contacto';
// pages- agenda
@import 'agenda/agenda';
// page - proximamente
@import 'proximamente/proximamente';
// page - yo
@import 'yo/yo.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    width: 80%;
    font-size: 1.1em;
    margin: 0 auto;
    background-image: linear-gradient(to right , $black , $black-dark);
    font-weight: 500;
    color: $white;
    box-shadow: $shadow;
    overflow-x: hidden;
    .light_mode{
        background-color: $white;
        color: $black-dark;
    }
    header{
        @include header();
    }
    .inicio{
        @include container_section();
        flex-direction: row;
        align-items: center;
        padding: 5em 3em;
        border-right: none;
        .description{
            width: 50%;
            font-size: 1.3em;
        }
    }
    .index_section{
        @include container_section();
        width: 80%;
        box-shadow: none;
        border: none;
        .genero{
            @include solapa();
        }
        article{
            display: flex;
            flex-direction: column;
            padding: 2em;
            gap: 1em;
            box-shadow: $shadow;
            @include corner_right();
            @include border();
            .foto_lucas{
                @include container_img_autores();
                img{
                    @include img_autores();
                }
            }
            h2{
                @include titles();
            }
            a{
                text-decoration: none;
                color: $blue;
                font-size: 1.2em;
                &:hover{
                    font-size: 1.3em;
                }
            }
        }
            
            // .autor_articulo{
            //     height: 40%;
            //     width: 40%;
            //     padding: 2em;
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: start;
            //     gap: 2em;
            //     box-shadow: $shadow;
            //     @include corner_left();
            //     @include border();
            //     text-align: end;
            //     img{
            //         width: 80px;
            //         height: 80px;
            //         border-radius: 50%;
            //     }
            // }
        }
    .videoteca_index{
        @include container_section();
        border: none;
        .genero{
            @include solapa();
        }
        h2{
            @include titles();
        }
    
        article{
            display: flex;
            flex-direction: column;
            gap: 2em;
            .foto_luis{
                @include container_img_autores();
                img{
                    @include img_autores();
                }
            }
            p{
                width: 90%;
            }
            .iframe{
                width: 100%;
                height: 500px;
                transform: translate(0);
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }     
        }
    }
        .index_ley_danza{
            @include container_section();
            width: 60%;
            .genero{
                @include solapa();
            }
            article{
                display: flex;
                flex-direction: column;
                gap: 2em;
                padding: 2em;
                box-shadow: $shadow;
                .foto_cande{
                    @include container_img_autores();
                    img{
                        @include img_autores();
                    }
                }
                h2{
                    @include titles();
                    font-size: 2.5em;
                    width: 90%;
                }
                p{
                    width: 90%;
                }
                a{
                    text-decoration: none;
                    color: $blue;
                    font-size: 1.2em;
                    &:hover{
                        font-size: 1.3em;
                    }
                }

            }
        }
        .index_laura{
            @include container_section();
            .genero{
                @include solapa();
            }
            article{
                display: flex;
                flex-direction: column;
                gap: 2em;
                padding: 2em;
                box-shadow: $shadow;
                .foto_laura{
                    @include container_img_autores();
                    img{
                        @include img_autores();
                    }
                }
                h2{
                    @include titles();
                }
                p{
                    color: grey;
                }
                h5{
                    color: salmon;
                }
                .iframe{
                    width: 100%;
                    height: 500px;
                    transform: translate(0);
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .contacto_index{
            @include container_section();
            width: 50%;
            border-top: 1px inset $black-dark;
            border-left: 1px inset $black-dark;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 5em 1em;
            margin: 0 auto;
            h2{
                @include titles();
            }
            .contacto_index_iconos{
                border-left: 1px inset rgb(240, 239, 239);
                .contacto_index_iconos_items{
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    transform: translateX(1em);
                }
            }
        }
        .aporte_index{
            @include container_section();
            width: 50%;
            margin: 0 auto;
            align-items: center;
            h2{
                text-align: center;
            }
                p{
                    width: 70%;
                    text-align: center;
                }
                 .btn_mp{
                    @include btn_mp();
                }
                h2{
                    @include titles();
                }
        }
    footer{
        @include footer();
    }
}
// mediaqueries
@import 'mediaqueries';