// colors
@import 'colors';
// fonts
@import 'fonts';
// bordes
@import 'mixins';
// header
@import 'header';
// footer
@import 'footer';
// // mediaqueries
// @import 'mediaqueries';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(to right , #181818 , #0a0a0a);
    font-family: 'Lato';
    font-weight: 500;
    color: $gray;
    box-shadow: $shadow;
    overflow-x: hidden;
    header{
        @include header();
    }
    .inicio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        padding: 5em;
        border-bottom: 1px inset black;
        @include corner_bottom();
        box-shadow: $shadow;
        .description{
            width: 50%;
            font-size: 1.3em;
        }
    }
    section{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 10em 0;
        padding: 5em 0;
        border-bottom: 1px inset black;
        @include corner_bottom();
        box-shadow: $shadow;
        line-height: 1.4em;
        div{
            display: flex;
            article{
                display: flex;
                flex-direction: column;
                width: 500px;
                padding: 2em;
                color: $gray;
                gap: 1em;
                z-index: 1;
                box-shadow: $shadow;
                @include corner_right();
                @include border();
                h2{
                    font-size: 2em;
                    color: $blue;
                }
                p{
                    font-size: 1.2em;
                }
                a{
                    text-decoration: none;
                    color: $blue;
                    &:hover{
                        font-size: 1.2em;
                    }
                }
            }
            .genero{
                height: 50px;
                padding: .5em 1em;
                @include corner_right();
                @include border();
                transform: translate(0px, 50px);
                background-color: $orange_dark;
                box-shadow: $shadow;
            }
        }
        .autor__articulo{
            width: 300px;
            padding: 1em;
            box-shadow: $shadow;
            @include corner_left();
            @include border();
            text-align: end;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }
    footer{
        @include footer();
    }
}
// mediaqueries
@media screen and (max-width: 1200px){
    body{
        width: 90%;
        .inicio{
            flex-direction: column;
            padding: 2em;
            gap: 8em;
            .description{
                width: 80%;
            }
        }
        section{
            flex-direction: column;
            justify-content: space-between;
            gap: 3em;
            align-items: center;
        }
    }
}
@media screen and (max-width: 768px){
    body{
        width: 95%;
        section{
            div{
                article{
                    width: 400px;
                    h2{
                        line-height: 1em;
                    }
                    p{
                        font-size: 1em;
                    } 
                }
                .genero{
                    padding: .5em .3em;
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    body{
        section{
            div{
                article{
                    width: 350px;
                }
                .genero{
                    transform: translate(-100px, -40px);
                    @include corner_top();
                }
            }
        }
    }
}
// @media screen and (max-width: 468px){
    
// }
// @media screen and (max-width: 360px){
    
// }