@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #181818, #0a0a0a);
  font-family: "Lato";
  font-weight: 500;
  color: #c4c4c4;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  overflow-x: hidden;
}
body header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px inset black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  backdrop-filter: blur(4px);
  margin-bottom: 5em;
}
body header .icon_logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px inset black;
  cursor: pointer;
}
body header .hamburguer {
  width: 95%;
  opacity: 0.7;
  cursor: pointer;
}
body header .hamburguer:hover {
  transform: translateY(-1px);
}
body header nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 300px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1em;
  justify-content: space-between;
  align-items: end;
  transform: translateY(-1px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px inset black;
  background-color: rgba(224, 224, 224, 0.832);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
}
body header nav li {
  list-style-type: none;
}
body header nav li:hover {
  transform: translate(-2px, -3px);
}
body header nav li a {
  color: rgb(3, 3, 3);
  font-size: 1.3em;
  text-decoration: none;
}
body header nav li a:hover {
  color: rgba(221, 114, 48, 0.7058823529);
}
body header nav li button {
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: rgb(114, 33, 33);
  border: 1px inset black;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
}
body header .visible {
  opacity: 1;
  visibility: visible;
}
body .inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 5em;
  border-bottom: 1px inset black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
}
body .inicio .description {
  width: 50%;
  font-size: 1.3em;
}
body section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10em 0;
  padding: 5em 0;
  border-bottom: 1px inset black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  line-height: 1.4em;
}
body section div {
  display: flex;
}
body section div article {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 2em;
  color: #c4c4c4;
  gap: 1em;
  z-index: 1;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px inset black;
}
body section div article h2 {
  font-size: 2em;
  color: #5F7995;
}
body section div article p {
  font-size: 1.2em;
}
body section div article a {
  text-decoration: none;
  color: #5F7995;
}
body section div article a:hover {
  font-size: 1.2em;
}
body section div .genero {
  height: 50px;
  padding: 0.5em 1em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px inset black;
  transform: translate(0px, 50px);
  background-color: rgba(221, 114, 48, 0.5882352941);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
}
body section .autor_articulo {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2em;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px inset black;
  text-align: end;
}
body section .autor_articulo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: rgba(221, 114, 48, 0.7058823529);
  border: 1px inset black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
}
body footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body footer .contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
body footer .contacto a img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  body {
    width: 90%;
  }
  body .inicio {
    flex-direction: column;
    padding: 2em;
    gap: 8em;
  }
  body .inicio .description {
    width: 80%;
  }
  body section {
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
  }
  body section .autor_articulo {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 95%;
  }
  body section div article {
    width: 400px;
  }
  body section div article h2 {
    line-height: 1em;
  }
  body section div article p {
    font-size: 1em;
  }
  body section div .genero {
    padding: 0.5em 0.3em;
  }
  body section .autor_articulo {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  body section div article {
    width: 350px;
  }
  body section div .genero {
    transform: translate(-100px, -50px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
