.article_section{
    flex-direction: column;
    margin: 5em 0;
    h3{
        color: $orange;
    }
    .article_article{
        @include  border();
        @include corner_right();
        padding: 2em;
        div{
            display: flex;
            flex-direction: column;
            gap: 2em;
            h1{
                color: $blue;
                font-size: 3em;
                margin-bottom: 1em;
                line-height: 1em;
            }
            h2:first-of-type{
                transform: translateY(10px);
            }
            h2{
                line-height: 1em;
            }
            h4{
                // margin-top: 5em;
                color: $blue;
            }
        }
    }
}