.article_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .foto_cande{
        @include container_img_autores();
        img{
            @include img_autores();
        }
    }
    .foto_lucas{
        @include container_img_autores();
        img{
            @include img_autores();
        }
    }
    h1{
        @include titles();
        margin-bottom: 2em;
    }
    .article_article{
        @include  border();
        @include corner_right();
        padding: 2em;
        div{
            display: flex;
            flex-direction: column;
            gap: 2em;
            h2:first-of-type{
                transform: translateY(10px);
            }
            h2{
                line-height: 1em;
                color: $violeta-oscuro;
            }
            h4{
                color: $blue;
            }
            .cita_link{
                margin: 0;
                justify-content: start;
                font-size: 1em;
            }
        }
    }
    a{
        text-decoration: none;
        color: $blue;
        display: flex;
        justify-content: flex-end;
        margin: 3em;
        font-size: $size_medium;

    }
}
