
// título de las demás pag
h3{
    color: $orange;
    text-align: end;
    margin-right: 4em;
    font-size: 2em;
}
.taller_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // grid-template-columns: repeat(1,1fr);
        // grid-template-rows: repeat(2,1fr);
        gap: 25px;
        padding: 2em;
        margin: 3em 0;
        @include corner_top();
        @include border();
        .taller_flex_items{
            height: 330px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include corner_top();
            @include corner_bottom();
            box-shadow: $shadow;
            .taller_flyers{
                height: 300px;
            }
            .taller_descripcion{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 2em;
                .taller_tittle{
                    color: $blue;
                }
                .taller_descripcion_p{
                    width: 60%;
                }
                .taller_contacto{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                }
                img{
                    width: 20px;
                }
            
            }
            .taller_descripcion_right{
                align-items: flex-end;
                text-align: end;
                h3{
                    margin: 0;
                }
            }
        }
}