
// título de las demás pag
h3{
    color: $orange;
    text-align: end;
    margin-right: 4em;
    font-size: 2em;
}
.taller_grid{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        // grid-template-rows: repeat(2,1fr);
        gap: 15px;
        padding: 2em;
        margin: 3em 0;
        @include corner_top();
        @include border();
        .taller_grid_items{
            width: 99%;
            height: 330px;
            @include corner_top();
            @include corner_bottom();
            box-shadow: $shadow;
            .taller_descripcion{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 2em;
                p{
                    width: 60%;
                }
                .taller_contacto{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                }
                img{
                    width: 20px;
                }
            
            }
            .taller_descripcion_right{
                align-items: flex-end;
                text-align: end;
                h3{
                    margin: 0;
                }
            }
        }
}